.home-contain{
    position: relative;
}
/*----------------------- 轮播图------------------- */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("../icon/bannerleft.png") !important;
  left: 90px !important;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("../icon/bannerright.png") !important;
  right: 90px !important;
}
.swiper-button-prev,
.swiper-button-next {
  top: 20% !important;
  width: 28px !important;
  height: 28px !important;
  background-size: cover !important;
}
.swiper-pagination-bullet-active {
    background: white !important;
    position: relative;
  }
.swiper-pagination-bullet-active::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    position: absolute;
    top: -8px;
    left: -8px;
}  
.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
    background: white !important;
    opacity: 1 !important;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px !important;
  }
  .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    top: 605px !important;
    }
  /* ----------------------------轮播图结束----------------------------- */
    .part-contain{
      /* margin-top: -403px; */
      width: 90%;
      z-index: 999999;
      margin: 0 auto;
      position: relative;
      top: -403px;
      padding-top: 15px;
      background-color: white;
      min-width: 1280px;
    }
    .part-content{
      margin-top: 35px; 
      position: relative;
    }
    .title-right,.title-left{
      display: inline-block;
    }
    .part-title .title-right{
      float: right;
      line-height: 59px; 
    }
    .part-title .title-right span, .title-right-icon{
      vertical-align: middle;
      font-size: 18px;
      line-height: 24px;
    }
    .part-title .title-left .title-name{
      font-size: 24px;
    }
    .part-title .title-left .en-title-name{
      font-size: 14px;
      color: #666666;
      margin-top: 9px;
    }
    .part-title .title-left .title-name::before{
      content: '';
      display: inline-block;
      width: 22px;
      border-top: 3px solid #333333;
      vertical-align: middle;
      margin-right: 18px;
    }

  .home-exchange-contain,.home-active-contain,.home-action-contain{
    padding-top: 55px;
    min-width: 1280px;
    margin-bottom:50px;
  }
  .home-exchange-content,.home-active-content,.home-action-content{
    width: 1280px;
    margin: 0 auto;
  }
    /*-----------------------------首页兑换板块---------------------------  */
  .change-content-top{
    width: 346px;
    height: 264px;;
    overflow: hidden;
    text-align: center;
  }
  .change-content-top img{
    width: 100%;
    transition: all .4s;
  }
  .change-content-top img:hover{
    transform: scale(1.1,1.1)
  }
  .exchange-content-left{
    width: 352px;
    display: inline-block;
    vertical-align: middle;
  }
  .exchange-content-right{
    width: 900px;
    display: inline-block;
    vertical-align: middle;
    padding:0 27px;
    overflow: hidden;
  }
  .exchange-inside-contain{
    white-space: nowrap;
    transition: all .3s;
    /* overflow: hidden; */
  }
  .exchange-content-left .green-line{
    border-top: 3px solid #20a345;
    width: 100px;
  }
  .exchange-content{
    display: inline-block;
    border: 1px solid rgba(159,159,159,0.97);
    margin-right: 27px;
    transition: all .5s;
  }
  .exchange-content:hover{
    cursor: pointer;
  }
  .exchange-detail{
    margin-top: 28px;
  }
  .exchange-detail.dec{
    color: #333333;
    font-size: 16px;
    line-height: 30px;
  }
  .exchange-detail.code div{
    display: inline-block;
    text-align: center;
  }
  .exchange-detail.code div.paycode{
    margin-right: 20px;
  }
  .exchange-content-bottom{
    padding: 20px 20px 12px 20px;
  }
  .exchange-content-bottom p{
    line-height: 24px;
    margin-bottom: 14px;
  }
  .exchange-content-bottom .exchange-detail-name{
    font-size: 16px;
    color: #333333;
  }
  .exchange-content-bottom .exchange-detail-count{
    font-size: 20px;
    color: #20a345;
  }
  .exchange-content-bottom .exchange-detail-address{
    font-size: 14px;
    color: #666666;
  }
  .exchange-content-bottom .exchange-detail-time{
    font-size: 14px;
    color: #888888;
  }
  .exchange-content-right-btn{
    position: absolute;
    right: 40px;
   bottom: -73px;
  }
  .exchange-content-right-btn div{
    display: inline-block;
  }
  .exchange-content-right-btn div:hover{
    cursor: pointer;
  }
  
  /* -----------------------------首页兑换结束--------------------------- */

  /* -----------------------------首页活动版块---------------------------- */
  .active-content-left{
    width: 158px;
    display: inline-block;
    vertical-align: top;
  }
  .active-content-right{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 1114px;
  }
  .active-content-title{
    text-align: center;
    line-height: 32px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .active-content-title.active{
    color: #20a345;
    /* border-left: 2px solid #20a345; */
  }
  .active-content-title .active-line{
    display: inline-block;
    margin-right: 20px;
  }
  .active-content-title.active .active-line{
    height: 11px;
    border-left: 2px solid #20a345;
  }
  .active-content-big-img{
    width: 515px;
    height: 514px;
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  .active-content-big-img .img-items,.active-content-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .6s;
    z-index: 1;
  }
  .active-content-big-img .img-items.active,.active-content-item.active{
    z-index: 2;
    opacity: 1;
  }
  .active-content-big-img .img-items.active:hover{
    transform: scale(1.1,1.1)
  }
  .active-content-des{
    position: absolute;
    top: 83px;
    left:392px;
    background-color: white;
    width: 540px;
    height: 241px;
    z-index: 3;
  }
  .active-content-item{
    padding: 51px 30px;
  }
  .active-content-des .active-content-des-title{
    font-size: 14px;
    margin-bottom: 19px;
  }
  .active-content-des .active-content-detail{
    font-size: 12px;
    color: #333333;
  }
  .active-content-des .active-content-detail p{
    line-height: 18px;
  }
  .active-content-des .active-content-more{
    text-align: right;
    font-size: 12px;
    width: auto;
  }
  .active-content-des .active-content-more span{
    vertical-align: middle;
  }
  .active-content-des .active-content-more .more-right-icon{
    width: 12px;
    vertical-align: middle;
    margin-left: 8px;
    /* height: 10px; */
  }
  .active-content-des .active-content-more span:hover,.active-content-des .active-content-more .more-right-icon:hover{
    cursor: pointer;
  }
  .active-maintitle{
    width: 92px;
    height: 176px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .active-maintitle .font-back{
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: -99;
  }
  .maintitle-inside{
    width: 100%;
    height: 100%;
    position: relative;
   
  }
  .white-back{
    font-size: 40px;
    line-height: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100%;
    writing-mode: vertical-lr;
    /* writing-mode: tb-lr */
  }
  .white-back,.white-back::before{
    background-image: url('../../assets/heart.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 100% 100%;
  }
  .white-back::before,.white-back::after{
    position: absolute;
    content: '';
    height: 176px;
    width: 92px;
  }
  .white-back::after{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    
  }
  .white-back::before{
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
  }
  .white-back div:nth-child(2){
   height: 100%;
   width: 43px;
  }
  .white-back div:nth-child(1){
    text-align: right;
    padding-bottom: 32px;
    padding-right: 5px;
  }
  .tip-icon{
    writing-mode: vertical-lr;
    padding-left: 20px;
    font-size: 12px;
    color: #333333;
    margin-top: -10px;
  }

  .active-content-small-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 207px;
    height: 207px;
    z-index: 4;
    overflow: hidden;
  }
  .small-img-items{
    width: 207px;
    height: 207px;
    float: left;
    transition: all .6s
  }
  .active-content-small-inside{
    white-space: nowrap;
    width: 621px;
  }
  .active-btn{
    position: absolute;
    bottom: 0px;
    right: 115px;
    width: 185px;
    height: 82px;;
    background-color: white;
    z-index: 5;
  }
  .active-btn div{
    display: inline-block;
    /* padding: 30px 20px */
    width: 45%;
    height: 100%;
    line-height: 82px;
    text-align: center;
  }
  .active-btn div:hover{
    cursor: pointer;
  }
  .active-btn-line{
    display: inline-block;
    border-left: 1px solid #BFBFBF;
    height: 18px;
  }
  
  /* -----------------------------首页活动结束-----------------------------*/

  /* -----------------------------首页绿色行动----------------------------- */
  .part-title .title-right>.action-choose span{
    font-size: 14px;
    width: 68px;
    height: 32px;
    display: inline-block;
    background-color: white;
    line-height: 32px;
    text-align: center;
    border-radius: 16px;
    margin: 0 15px
  }
  .part-title .title-right>.action-choose span.active{
    background-color: #20a345;
    color: white;
  }
