.login-contain{
    width: 100%;
    height: calc(100vh);
    margin: 0 auto;
    /* background-color: #eff2f3; */
    
}
.login-form-mian{
    width: 100%;
    height: calc(80vh);
    position: relative;
    overflow: hidden;
    padding: 60px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-background{
    position: absolute;
    top: -60px;
    width: 1920px;
    height: calc(83vh);
    background-image: url('../../assets/loginbackground-back.png');
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    /* padding-bottom: 80px; */
    margin-top: 60px;
    z-index: -999999;
}
.login-form{
    width: 482px;
    /* margin: 0 0 0 60%; */
    background-color: white;
    padding: 61px 48px;
    margin-bottom: 100px;
    vertical-align: middle;
}
.background-write{
    float: left;   
    width: 48%;
    /* margin: 0 0 0 10%; */
    margin-right: 5%;
    vertical-align: middle
}
.login-contain .el-input{
    width: 291px;
}
.login-contain .yanzhengma.el-input{
    width: 170px;
}
.login-contain .yzm-img{
    vertical-align: middle;
}
.login-contain .form-item{
    margin-top: 25px;
    /* text-align: center; */
}
.login-contain .form-item.login{
    text-align: center;
}
.login-contain .form-item-name{
    display: inline-block;
    width: 80px;
    text-align: right;
    color: #333333;
}
.login-contain .submit-btn{
    width: 199px;
    height: 47px;
    border: none;
    margin: 15px auto;
    cursor: pointer;
    font-size: 17px;
    background-color: #20A345;
    color: white;
}
.login-contain .tool{
    font-size: 12px;
    color:#FD4E4E;
    margin-top: 25px;
    text-align: center;
}
.loginlogo{
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 10px 0;
    background-color: white;
    /* text-align: center; */
    padding-left: 325px;
}
.form-title{
    text-align: center;
    font-size: 20px
}
.login-contain .footer-copyright{
    background-color: #eff2f3;
}
