.login-contain{
    width: 100%;
    height: calc(100vh);
    margin: 0 auto;
    background-color: #eff2f3;
}
.login-form{
    width: 482px;
    margin: 0 auto;
    background-color: white;
    padding: 61px 48px;
}
.login-contain .el-input{
    width: 291px;
}
.login-contain .yanzhengma.el-input{
    width: 170px;
}
.login-contain .yzm-img{
    vertical-align: middle;
}
.login-contain .form-item{
    margin-top: 29px;
    /* text-align: center; */
}
.login-contain .form-item.login{
    text-align: center;
}
.login-contain .form-item-name{
    display: inline-block;
    width: 80px;
    text-align: right;
    color: #333333;
}
.login-contain .submit-btn{
    width: 199px;
    height: 47px;
    border: none;
    margin: 25px auto;
    cursor: pointer;
    font-size: 17px;
    background-color: #20A345;
    color: white;
}
.login-contain .tool{
    font-size: 12px;
    color:#FD4E4E;
    margin-top: 55px;
    text-align: center;
}
.loginlogo{
    width: 100%;
    margin: 0 auto 60px auto;
    padding: 10px 0;
    background-color: #20A345;
    text-align: center;
}
.form-title{
    text-align: center;
    font-size: 20px
}
