.lv_wrap {
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.lv_title {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 80px!important;
}

.lv_head {
  font-size: 12px;
  color: #333;
  margin: 15px auto 25px;
  text-align: center;
}

.lv_details_head {
  font-size: 12px;
  color: #333;
  margin: 15px auto 25px !important;
  text-align: center;
}

.lv_pic {
  display: block;
  margin: 55px auto 0;
}

.lv_text {
  font-size: 14px;
  color: #333;
  line-height: 30px;
  margin-top: 50px;
}

.lv_bd_bread {
  font-size: 12px;
  color: #333;
  margin-top: 20px;
}

.lv_bd_bread span {
  font-size: 12px;
  color: #20A345;
}

.lv_bd_tab {
  overflow: hidden;
  float: right;
  margin: 20px 0 50px;
}

.lv_bd_tab li {
  float: left;
  height: 32px;
  line-height: 32px;
  border: 1px solid rgba(236, 236, 236, 1);
  border-radius: 16px;
  font-size: 14px;
  color: #050606;
  padding: 0 22px;
  margin-right: 10px;
  cursor: pointer;
}

.lv_bd_tab li:hover, .lv_bd_tab li.active {
  background: rgba(32, 163, 69, 1);
  color: #fff;
  border: 1px rgba(32, 163, 69, 1) solid;
}

.lv_bd_notice {
  width: 100%;
  overflow: hidden;
  border-bottom: 0.3px solid rgba(221, 221, 221, 1);
  cursor: pointer;
  position: relative;
}

.lv_bd_notice a {
  display: block;
  padding: 50px 0;
}

.lv_bd_notice_title {
  font-size: 16px;
  color: #333;
}

.lv_bd_notice_title.active {
  font-size: 20px;
  color: #20A345;
}

.lv_bd_notice_title .date {
  font-size: 14px;
  color: #333;
  float: right;
  padding-right: 50px;
}

.lv_bd_notice_title.active .date {
  display: inline-block;
  font-size: 14px;
  color: #333;
  float: right;
  padding-right: 0;
  text-align: center;
  position: relative;
  top: -20px;
}

.lv_bd_notice_title.active .date span {
  font-size: 35px;
  color: #666;
}

.lv_bd_notice_text {
  min-height: 28px;
  width: 90%;
  font-size: 14px;
  color: #333;
  line-height: 28px;
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.lv_bd_arrow {
  position: absolute;
  bottom: 62px;
  right: 0;
}

.lv_dw_text {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.lv_dw_title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin: 80px 0 30px;
}

.lv_dw_name {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin-top: 20px;
}

.lv_dw_name:hover {
  font-size: 14px;
  color: #20A345;
}

.lv_nodata {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 120px 0px 100px;
}

.lv_nodata .lv_blank {
  font-size: 16px;
  color: #888;
}