.info-sidemenu{
    background-color: #F4F4F4;
    height: 690px;
    /* background-color: red; */
}
.info-sidemenu .el-menu-item{
    background-color: #F4F4F4 !important;
}
.el-menu-item.is-active{
    color: #20A345 !important;
}
.el-submenu__icon-arrow{
    font-size: 15px !important;
    top: 53% !important;
}